@media (min-width: @tablet-width) {
  .bg-zigzag-fill {
    // border-style: solid;
// border-width: 0px 0px 17px;
// -moz-border-image: url(bg-zigzag-fill.svg) 17 0 34 repeat stretch;
// -webkit-border-image: url(bg-zigzag-fill.svg) 17 0 34 repeat stretch;
// -o-border-image: url(bg-zigzag-fill.svg) 17 0 34 repeat stretch;
// border-image: url(../img/bg-zigzag-fill.svg) 17 0 34 repeat stretch;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 27px;
      position: absolute;
      bottom: -2px;
      left: 0;
      background: url(../img/bg-zigzag-fill.svg) repeat-x;
      background-size: auto 100%;
      z-index: 1;
    }
  }
}
