.button {

    // display: block;

    border: 2px solid #444444;
    padding: 14px 30px;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-decoration: upper;
    text-transform: uppercase;
    width: 100%;
}