.catalog-cover {
  display: block;
  position: relative;
  padding: 25px 30px 30px 30px;
  width: 100%;

  &:hover {
    transform: translateY(-5px);
  }

  &:nth-child(odd) {
    background-color: @green;

    &:hover {
      box-shadow: 0px 5px 0px @green;
    }
  }

  &:nth-child(even) {
    background-color: #56c3b2;
    &:hover {
      box-shadow: 0px 5px 0px #56c3b2;
    }
  }

  &--interior::after {
    content: "";
    position: absolute;
    right: 37px;
    top: 24px;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 62px;
  }

  &--toys::after {
    content: "";
    position: absolute;
    right: 27px;
    top: 22px;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }
}

.catalog-cover__title {
  color: white;
  font-size: 19px;
}

@media (min-width: @tablet-width) {
  .catalog-cover {
    font-size: 20px;
    padding: 30px 30px 45px 35px;

    &--interior::after {
      top: 30px;
    }

    &--toys::after {
      right: 34px;
      top: 33px;
    }
  }

  .catalog-cover__title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-cover {
    padding: 28px 28px 43px 36px;
  }

  .catalog-cover__title {
    font-size: 20px;
  }
}
