// .catalog-item {

//   &--video {
//     border: 1px solid @border-grey;
//   }
// }

.catalog-item__link {
  display: block;
  color: inherit;
  margin-bottom: 30px;
}

.catalog-item__title {
  font-size: 17px;
  margin-bottom: 6px;

  //   &--video {
  //     position: relative;
  //     padding-left: 90px;
  //     margin-bottom: 30px;
  //     margin-top: 30px;

  //     &::before {
  //       content: "";
  //       position: absolute;
  //       top: 6px;
  //       left: 29px;
  //       height: 30px;
  //       width: 33px;
  //       background: url(../img/icon-video.svg) no-repeat;
  //     }
  //   }
}

.catalog-item__info {
  border: 1px solid @border-grey;
  padding: 27px;

  &--video {
    border: none;
  }
}

.catalog-item__description {
  font-size: 13px;
  line-height: 2.3;
  margin-bottom: 19px;
  color: @dark-grey;
}

.catalog-item__price {
  font-size: 15px;
  font-weight: bold;
  padding-top: 24px;
  border-top: 1px solid @border-grey;
}

.catalog-item__img {
  display: block;
}

.catalog-item__img img {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .catalog-item__link {
    display: flex;

    .catalog-item__title {
      &--video {
        order: 1;
        br {
          display: none;
        }
      }
    }
  }

  .catalog-item__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    order: 2;
    margin-left: -1px;
    z-index: -1;
  }

  .catalog-item__price {
    margin-top: auto;
  }
}

@media (min-width: @desktop-width) {

  .catalog-item__link {
    flex-direction: column;
    width: 30%;
  }

  .catalog-item__info {
    margin-left: 0;
  }

  .catalog-item__img img {
    height: 462px;
  }
}
