.container {
  padding: 30px;
}

@media (min-width: @tablet-width) {
  .container {
    padding: 50px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1150px;
    padding: 0 50px 0 225px; 
    margin: 0 auto;
    
  }
}
