.hero {
  min-height: 283px;
  text-align: center;
  padding-top: 73px;
  color: #010000;
  background: url(../img/hero-mobile@1x.jpg) no-repeat 50% center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx)  {
    background-image: url(../img/hero-mobile@2x.jpg);
  }
}

.hero__title {
  font-size: 27px;
  line-height: 1.1em;
}

@media (min-width: @tablet-width) {
  .hero {
    background: none;
    position: relative;
  }

  .hero__title {
    font-size: 43px;
    line-height: 1.16em;
    width: 500px;
    margin: 0 auto;

    br {
      display: none;
    }
  }
}
