@media (min-width: @tablet-width) {
  .hero-container {
    display: flex;
    flex-direction: column;
    min-height: 747px;
    background: url(../img/hero-tablet@1x.jpg) no-repeat 50% center;
    background-size: cover;
  }
}
@media (min-width: @desktop-width) {
  .hero-container {
    background: url(../img/hero-desktop@1x.jpg) no-repeat 50% center;
    background-size: cover;
  }
}
