.hero {
  text-align: center;
  color: #010000;
  padding-top: 73px;
  padding-bottom: 75px;
  margin-bottom: 30px;

  &--inner {
    background-color: @bg-grey;
  }
}


.hero__title {
  font-size: 27px;
  line-height: 1.1em;
}

@media (min-width: @tablet-width) {
  .hero {
    position: relative;
    padding-top: 100px;
    padding-bottom: 77px;
    margin-bottom: 68px;
  }

  .hero__title {
    font-size: 43px;
    line-height: 1.16em;
    width: 500px;
    margin: 0 auto;

    br {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .hero {
    padding-top: 150px;
  }


  .hero__title {
    font-size: 53px;
    width: 650px;
  }
}
