.page-footer {
  background-color: @bg-grey;
}

.page-footer__nav {
  padding-top: 27px;
  padding-bottom: 20px;
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 23px;
}

.page-footer__logo {
  display: none;
}

.page-footer__icon-logo {
  &:hover {
    fill: @green;
  }
}

.page-footer__copyright {
  width: 180px;
  margin: 0 auto;
}

.page-footer__icon--academy {
  fill: @green;
}

@media (min-width: @tablet-width) {
  .page-footer {
    // padding: 51px 50px 45px 50px;
  }

  .page-footer__nav {
    display: flex;
    align-items: baseline;
    max-width: 1150px;
    margin: 0 auto;
  }

  .page-footer__social {
    border: 0;
    margin: 0;
    padding: 0;
    width: 33.3%;
  }

  .page-footer__logo {
    display: block;
    width: 33.3%;
  }

  .page-footer__copyright {
    margin: 0;
    margin-left: auto;
  }
}
