.social {
  margin: 0 auto;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
    .social {
        align-items: baseline;
    }

}

@media (min-width: @desktop-width) {
    
}
